==
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__col--subscribe">
                <div class="footer__logo">
                    MoGo
                </div>
                <div class="footer__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                </div>
                <div class="footer__followers">
                    <div class="footer__num">15k</div>
                    <div class="footer__folowers__text">followers</div>
                </div>
                <div class="footer__social">
                    <div class="footer__social__text">
                        Follow Us:
                    </div>
                    <div class="footer__social__item">
                        <a href="#" target="_blank" class="footer__social__link">
                            <i class="fab fa-facebook-f footer__social__icon"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="#" target="_blank" class="footer__social__link">
                            <i class="fab fa-twitter footer__social__icon"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="#" target="_blank" class="footer__social__link">
                            <i class="fab fa-instagram footer__social__icon"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="#" target="_blank" class="footer__social__link">
                            <i class="fab fa-pinterest footer__social__icon"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="#" target="_blank" class="footer__social__link">
                            <i class="fab fa-google-plus-g footer__social__icon"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="#" target="_blank" class="footer__social__link">
                            <i class="fab fa-youtube footer__social__icon"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="#" target="_blank" class="footer__social__link">
                            <i class="fab fa-dribbble footer__social__icon"></i>
                        </a>
                    </div>
                    <div class="footer__social__item">
                        <a href="#" target="_blank" class="footer__social__link">
                            <i class="fab fa-tumblr footer__social__icon"></i>
                        </a>
                    </div>
                </div> <!-- Footer Social-->

                {% component 'formSubscribe' %}
                
            </div> <!-- Footer Col Subscribe-->
            <div class="footer__col footer__col--blogs">
                <div class="blogs__inner">
                    <div class="blogs__title">
                        Blogs
                    </div>
                    <div class="blogs__item">
                        <img class="blogs__image" src="{{ 'assets/img/footer/blogs/1.jpg'|theme }}" alt="MoGo Blog Image">
                        <div class="blogs__info">
                            <a href="#" class="blogs__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </a>
                            <div class="blogs__date">
                                Jan 9, 2016
                            </div>
                        </div>
                    </div>
                    <div class="blogs__item">
                        <img class="blogs__image" src="{{ 'assets/img/footer/blogs/2.jpg'|theme }}" alt="MoGo Blog Image">
                        <div class="blogs__info">
                            <a href="#" class="blogs__text">
                                Consectetur adipiscing elit, sed do eiusmod tempor
                            </a>
                            <div class="blogs__date">
                                Jan 9, 2016
                            </div>
                        </div>
                    </div>
                    <div class="blogs__item">
                        <img class="blogs__image" src="{{ 'assets/img/footer/blogs/3.jpg'|theme }}" alt="MoGo Blog Image">
                        <div class="blogs__info">
                            <a href="#" class="blogs__text">
                                Consectetur adipiscing elit, sed do eiusmod tempor
                            </a>
                            <div class="blogs__date">
                                Jan 9, 2016
                            </div>
                        </div>
                    </div>
                </div> <!-- blog__inner-->
            </div> <!-- Footer Col Blogs-->
            <div class="footer__col footer__col--instagram">
                <div class="instagram__inner">
                    <div class="instagram__title">
                        Instargram
                    </div>
                    <div class="instagram__tile">
                        <img src="{{ 'assets/img/footer/instagram/1.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                        <img src="{{ 'assets/img/footer/instagram/2.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                        <img src="{{ 'assets/img/footer/instagram/3.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                    </div>
                    <div class="instagram__tile">
                        <img src="{{ 'assets/img/footer/instagram/4.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                        <img src="{{ 'assets/img/footer/instagram/5.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                        <img src="{{ 'assets/img/footer/instagram/6.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                    </div>
                    <div class="instagram__tile">
                        <img src="{{ 'assets/img/footer/instagram/7.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                        <img src="{{ 'assets/img/footer/instagram/8.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                        <img src="{{ 'assets/img/footer/instagram/9.png'|theme }}" alt="Mogo Instagram Photo" class="instagram__item">
                    </div>
                    <a href="#" target="_blank" class="instagram__link">
                        View more photos
                    </a>
                </div>
            </div> <!-- Footer Col Instagram-->
        </div> <!-- Footer inner-->
        <div class="footer__info">
            © 2016 MoGo free PSD template by <span class="footer__info--name">Laaqiq</span>
        </div>
    </div> <!-- Container-->
</footer> <!-- /Footer -->